doctype html
html(lang="en")
  head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      link(rel="stylesheet", href="/css/boostrap.css")
      script(src="/js/axios.js")
      script(src="/js/Chart.bundle.min.js")
      title Cadastro

      style.
        body, html{
          height:100%;
          background: rgb(238,174,202);
          background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #C9C9C9), color-stop(100, #707070));
        }
        body{
          display:flex;
          align-items:center;
        }
        .card{
          box-shadow: 0 0 5px black;
        }
  body
   block main
   script(src="/js/MyChart.js")  
   